@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&family=Michroma&display=swap");

.font-rajdhani {
  font-family: "Rajdhani", sans-serif;
}

.font-michroma {
  font-family: "Michroma", sans-serif;
}

.disabled-btn {
  opacity: 0.4;
  cursor: not-allowed;
}

.toggle-btn.on {
  background: #00ffcc;
}

.toggle-btn.off {
  background: #444;
}
