@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&family=Michroma&display=swap");

html body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-rajdhani {
  font-family: "Rajdhani", sans-serif;
  font-size: 24px;
}

.font-michroma {
  font-family: "Michroma", sans-serif;
  font-size: 12px;
}

.night {
  background-color: #946473;
  color: #f4f3f3;
  --accent-color: #00ffcc;
  --main-color: black;
  overflow: visible;
}

.day {
  background-color: #ffe9d8;
  color: #0d0c0c;
  --accent-color: #0077aa;
  --main-color: #fff;
  overflow: visible;
}

body {
  font-family: inherit;
  width: 100%;
  height: 100vh;
}

button,
input,
select,
textarea {
  font-family: inherit;
}
