.settings-groups {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.settings-group {
    text-align: center;
}

.settings-screen {
    padding: 24px;
}

.settings-title {
    padding-top: 0px;
}

.setting-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}

.toggle-btn, .option-btn, .disabled-btn {
    margin-top: 8px;
    padding: 8px 16px;
    border: none;
    background: #ccc;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.on-perm, .day-perm, .rajdhani-perm, .soldier-perm {
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #fff;
}

.off-perm, .night-perm, .michroma-perm, .samurai-perm {
    border-radius: 0 4px 4px 0;
}

.toggle-btn.on, .option-btn.selected {
  background: var(--accent-color);
}

.system-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.disabled-btn {
  opacity: 0.6;
  cursor: not-allowed;
  margin-bottom: 12px;
  border-radius: 4px;
}

@media (max-width: 716px) {
    .settings-groups {
        grid-template-columns: 1fr;
    }
}